# importing liabries...

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# data analysis

In [2]:
data=pd.read_csv('items-recommender/data/trx_data.csv')

In [3]:
data1=data.copy()

In [4]:
data

       customerId                        products
0               0                              20
1               1  2|2|23|68|68|111|29|86|107|152
2               2       111|107|29|11|11|11|33|23
3               3                         164|227
4               5                             2|2
...           ...                             ...
62478        4068                103|103|8|48|126
62479       10918  124|37|37|78|124|124|37|8|35|8
62480        6119                              24
62481        8171                             167
62482        4095                             150

[62483 rows x 2 columns]

# data processing...

In [5]:
def vectorization(data):
    products=set()
    for i in data:
        for j in i.split('|'):
            products.add(j)
    diction={}
    for i in products:
        diction[i]=[]
    for i in data:
        dt=i.split('|')
        for k in products:
            if k in dt:
                diction[k].append(1)
            else:
                diction[k].append(0)
    return diction

In [6]:
diction=vectorization(data['products'])
for i in diction.keys():
    data[i]=diction[i]

In [7]:





data

,customerId,products,144,68,122,88,272,120,140,94,...,293,124,21,65,225,119,166,71,34,287
0,0,20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2|2|23|68|68|111|29|86|107|152,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,111|107|29|11|11|11|33|23,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,164|227,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,2|2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62478,4068,103|103|8|48|126,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62479,10918,124|37|37|78|124|124|37|8|35|8,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
62480,6119,24,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62481,8171,167,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62482,4095,150,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
data['192'].value_counts()

0    62017
1      466
Name: 192, dtype: int64

# applying cosine similarity....

In [10]:
###applying of cosine similarity....
data=data.drop(columns=['customerId','products'])

In [11]:
data

,144,68,122,88,272,120,140,94,168,282,...,293,124,21,65,225,119,166,71,34,287
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62478,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62479,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
62480,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62481,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62482,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
values=[]
index=[]
for i in range(1):
    for j in range(1,62483):
        x=data.iloc[i]
        y=data.iloc[j]
        z=sum(x*y)
        w=np.sqrt(sum(x*x))+np.sqrt(sum(y*y))
        k=(z/w)
        values.append(k)
        index.append(j)

In [13]:
values.index(max(values))

58

In [14]:
values1=values.copy()

# evaluating....

In [15]:
best_match=[]
for i in values1:
    if i>0:
        best_match.append(i)

In [16]:
j=[]
for i in best_match:
    j.append(values.index(i))
print(set(j))

{2473, 12, 108, 172, 47, 18, 87, 23, 249, 58}

# conclusion..

In [17]:
recommend=set(j)
for i in recommend:
    print('products to be recommend\n',data1['customerId'][i],':customerID\n',data1['products'][i],':products he purchase more')

products to be recommend
 1369 :customerID
 151|241 :products he purchase more
products to be recommend
 13 :customerID
 79|8|8|38 :products he purchase more
products to be recommend
 137 :customerID
 61|2|2|167 :products he purchase more
products to be recommend
 128 :customerID
 10|26|26|26 :products he purchase more
products to be recommend
 53 :customerID
 47 :products he purchase more
products to be recommend
 19 :customerID
 48|8 :products he purchase more
products to be recommend
 110 :customerID
 143|143 :products he purchase more
products to be recommend
 24 :customerID
 236|236|2 :products he purchase more
products to be recommend
 267 :customerID
 91|91|48|2|25|8 :products he purchase more
products to be recommend
 68 :customerID
 33 :products he purchase more